@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  overflow-x: hidden;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 300; /* Light */
  font-size: clamp(2rem, 0.718rem + 5.128vw, 4rem);
}

h2 {
  font-family: "Archivo", sans-serif;
  font-weight: 600; /* Semi-Bold */
  font-size: clamp(1.625rem, 0.917rem + 3.542vw, 3.75rem);
}

h3 {
  font-family: "Archivo", sans-serif;
  font-weight: 400; /* Semi-Bold */
  font-size: clamp(1.5rem, 1.583rem + -0.417vw, 1.25rem);
}

q::before,
q::after {
  font-family: "Revalia", sans-serif;
  font-size: 32px;
  font-weight: bold;
}

q::before {
  padding-right: 0.5rem;
}

q::after {
  padding-left: 0.5rem;
}

p,
span {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  p {
    font-size: 16px;
  }
}

.title {
  font-size: clamp(2.25rem, 1.102rem + 6.122vw, 6rem);
}

.banner-heading,
.banner-info,
.button-background {
  background: linear-gradient(45deg, #08033e 0%, #313c9a 50%, #1a21ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.button-background:hover {
  background-color: #606060;
}

/* .image-container {
  width: 100%;
  position: relative;
} */

.banner-btn {
  background: linear-gradient(45deg, #08033e, #313c9a, #1a21ff);
}

/* .banner-btn:hover {
  background: linear-gradient(45deg, #08033e, #313c9a, #555cff);
} */

.image-container {
  overflow: hidden;
  border: solid 1px #000;
  border-radius: 80px;
  border: none;
}

.image-container img {
  width: 100%;
}

.overlay {
  border-radius: 70px;
  position: absolute;
  top: 0;
  width: 36%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity here */
}

.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  width: 36%;
  height: 100%;
}

.box-shadow-card {
  box-shadow: 0px 12px 20px 10px rgba(79.69, 95.12, 255, 0.34);
}
