@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gradient-text {
    background: rgb(0, 55, 195);
    background: linear-gradient(
      to left,
      rgba(0, 55, 195, 1) 3%,
      rgba(8, 0, 98, 1) 63%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .gradient {
    color: red;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  overflow-x: hidden;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 300; /* Light */
  font-size: clamp(2rem, 0.718rem + 5.128vw, 4rem);
}

h2 {
  font-family: "Archivo", sans-serif;
  font-weight: 600; /* Semi-Bold */
  font-size: clamp(1.625rem, 0.917rem + 3.542vw, 3.75rem);
}

h3 {
  font-family: "Archivo", sans-serif;
  font-weight: 400; /* Semi-Bold */
  font-size: clamp(1.5rem, 1.583rem + -0.417vw, 1.25rem);
}

q::before,
q::after {
  font-family: "Revalia", sans-serif;
  font-size: 32px;
  font-weight: bold;
}

q::before {
  padding-right: 0.5rem;
}

q::after {
  padding-left: 0.5rem;
}

.archivo {
  font-family: "Archivo", sans-serif;
}

p,
span {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  p {
    font-size: 16px;
  }
}

.title {
  font-size: clamp(2.25rem, 1.102rem + 6.122vw, 6rem);
}

.landing-description {
  background: rgb(0, 55, 195);
  background: linear-gradient(
    to left,
    rgba(0, 55, 195, 1) 3%,
    rgba(8, 0, 98, 1) 63%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.banner-heading,
.banner-info,
.button-background {
  background: linear-gradient(45deg, #08033e 0%, #313c9a 50%, #1a21ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.dark-theme-heading-one,
.dark-theme-heading-two {
  background: linear-gradient(
    to left,
    rgba(209, 214, 255, 1) 0%,
    rgba(128, 140, 255, 1) 97%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.dark-theme-title {
  background: rgb(100, 115, 255);
  background: linear-gradient(
    90deg,
    rgba(100, 115, 255, 1) 36%,
    rgba(217, 221, 255, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.dark-theme-title-block {
  background: rgb(217, 221, 255);
  background: linear-gradient(
    to left,
    rgba(217, 221, 255, 1) 22%,
    rgba(100, 115, 255, 1) 88%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.dark-theme-btn {
  background: rgb(49, 60, 154);
  background: linear-gradient(
    90deg,
    rgba(49, 60, 154, 1) 36%,
    rgba(85, 92, 255, 1) 100%
  );
}

.button-background:hover {
  background-color: #606060;
}

/* .image-container {
  width: 100%;
  position: relative;
} */

.banner-btn {
  background: linear-gradient(45deg, #08033e, #313c9a, #1a21ff);
}

/* .banner-btn:hover {
  background: linear-gradient(45deg, #08033e, #313c9a, #555cff);
} */

.image-container {
  overflow: hidden;
  border: solid 1px #000;
  border-radius: 80px;
  border: none;
}

.image-container img {
  width: 100%;
}

.overlay {
  border-radius: 70px;
  position: absolute;
  top: 0;
  width: 36%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity here */
}

.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  width: 36%;
  height: 100%;
}

.box-shadow-card {
  box-shadow: 0px 12px 20px 10px rgba(79.69, 95.12, 255, 0.34);
}

.list-title {
  background: rgb(0, 12, 117);
  background: linear-gradient(
    68deg,
    rgba(0, 12, 117, 1) 3%,
    rgba(0, 10, 255, 1) 47%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

ul.custom-list {
  list-style-type: none;
  padding: 0;
}

@media (max-width: 768px) {
  ul.custom-list li::before {
    content: "";
    display: inline-block;
    min-width: 10px; /* Set a minimum width for the bullet */
    width: 10px; /* Adjust the width of the bullet */
    height: 70px; /* Adjust the height of the bullet */
    margin-right: 8px; /* Adjust the spacing between the bullet and the text */
    background: linear-gradient(to bottom, #bdc4ff, #555cff);
    border-radius: 10px; /* Make the border round */
    margin-right: 8px; /* Adjust the spacing between the bullet and the text */
  }
}

.list-container {
  position: relative; /* Set position to relative */
}

@media (min-width: 768px) {
  .list-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 20px; /* Adjust the width of the vertical line */
    height: 100%; /* Make the line span the full height */
    background: linear-gradient(to bottom, #bdc4ff, #555cff);
  }
}

.list-container-image {
  position: relative;
}

@media (min-width: 1024px) {
  .list-container-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 15px; /* Adjust the width of the vertical line */
    height: 100%; /* Make the line span the full height */
    background: linear-gradient(to bottom, #bdc4ff, #555cff);
  }
}

@media (max-width: 1024px) {
  .list-container-image-mobile::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 15px; /* Adjust the width of the vertical line */
    height: 100%; /* Make the line span the full height */
    background: linear-gradient(to bottom, #bdc4ff, #555cff);
  }
}
